*{box-sizing: border-box;
  margin: 0;
}

.lista{
  list-style: none;
  font-size: 15px;
}
.lista .peliTitulo{
  font-size: 20px;
  text-align: center;
}

.lista .imgTitulo{
  border-radius: 10px;
  background-color: azure;
  width: 185px;
  height: 278px;
}

.gridTarjeta{
  display: grid;
  grid-template-columns: repeat(auto-fill,185px);
  gap: 40px;
  padding: 40px;
  justify-content: center;
}

.titulo{
  text-align: center;
  font-size: 60px;
  padding-top: 20px;
}

#fondo{
  background-color: white;
}




@media(max-width:560px){
  .gridTarjeta{
    grid-template-columns: 100%;
  }
  .lista .imgTitulo{
    border-radius: 10px;
    background-color: azure;
    width: 90%;
    height: auto;
  }
}